.required_star
{
    color:#e60000;
}

body{
    background-color: #EDC0B3;
}

.container{
    background-color: white;
}

.dermaskin-form{
    padding-left:15px;
    box-shadow: 3px 3px 5px 6px #ccc;
    border:1px;
    padding-top: 10px;
}

label.error {
    color:red;
}

.dermaskin-form-box{
    padding-top:10px;
    padding-bottom:10px;
}

.banner-header{
    padding:10px;
    text-align:center;
    border:1px;
    color: black;
}

.select-product-header {
    text-align:left;
    border:1px;
    font-size:15px;
    padding-top:30px;
    padding-bottom:30px;
}

.img-class{
    width:100%;
    height:auto;
}

.terms-conditions{
    padding-top:15px;
    padding-bottom:15px;
}

.custom-paragraph{
    font-style: italic;
    font-size:10px;
}


